# Bifrost executable
bifrost/bifrost

# Bifrost compilation files
bifrost/*.o
bifrost/*.hi
bifrost/Lang/*.o
bifrost/Lang/*.hi
bifrost/Lang/*.x
bifrost/Lang/*.y

# Bifrost examples
bifrost/examples/**/*.prog.fl

# Docker image
docker_image.zip
docker_image.gz
docker_image
